html {
  font-size: 10px;
  background: url(./images/maschine.jpg);
  background-repeat: no-repeat;
  background-color: black;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;  
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid slategrey;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

#keys-top {
  margin-top: 20vh;
}

.velocity-toggle,
.kits {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;  
}

.kits {
  min-height: 15vh;
}

.velocity,
.kit {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem; 
  padding: 1rem 0.5rem;
  transition: all 0.05s ease;
  width: 15rem;
  text-align: center;
  color: #ffc600;
  background: slategrey; 
  text-shadow: 0 0 0.5rem black;
}

.velocity-toggle {
  min-height: 5vh;
}

.active,
.velo-active {
  background-color: darkslategrey;
  border: 0.4rem solid lightskyblue;
  color: lightseagreen;
}

.playing {
  transform: scale(1.1);
  border-color: #37a4c5;
  box-shadow: 0 0 1rem #2d72aa;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}

.blurb {
  font-family: 'Roboto', sans-serif;
  color: lightgoldenrodyellow;
  text-align: center;
  font-size: 1.6rem;
}

a:visited {
  color: white;  
}

a:link {
  text-decoration: none;
}

a:hover {
  color: pink;
}
